/* ------------- Body -------------- __ */
body {
  min-width: 1202px;
  max-width: 1202px;
  width: 100%;
}
.container {
  background-color: white;
  max-width: 1440px;
  padding-left: 100px ;
  padding-right: 100px;
  margin: 0 auto;
}

/* ------------- Header -------------- __ */
header {
  width: 100%;
  grid-template-areas: 
  "cov learn"
  "cov join"
  "nav nav";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 70px ;
  
  .covered {
    grid-area: cov;
    height: 100%;
    padding: 0;
    
    h1 {
       margin: 100px 100px 10px;
    }
    p {
       position: relative;
       margin-left: 100px;
       margin-right: 138px;
       margin-bottom: -5px;
    }
    img {
       flex: 1;
       width: 50%;
       margin-left: 10rem;
       margin-right: 16.5px;
    }
    button {
       position: absolute;
       top: 18rem;
       margin-left: 5rem;
    }
  }
  
  .nav {
    background-color: white;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 0 125px;

    a {
       flex-direction: row;
    }
  }

  .learn-more {
     grid-area: learn;
     height: 100%;
  }
  .join-today {
     grid-area: join;
     height: 100%;
  }
}


/* ------------- MAIN -------------- __ */
main {
  article.upper-mid {
    height: 612px;
    background-color: $greyColor;
  }
  section.upper {
    display: grid;
    width: 100%;
    grid-template-areas:
      "header para"
      "button para";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    h1 {
      grid-area: header;
      margin: 40px 80px 10px;
    }
    button {
      grid-area: button;
      margin-top: 0.2rem;
      margin-left: 4rem;
      max-width: 135px;
      max-height: 40px;
    }
    p {
      grid-area: para;
      margin-top: 80px;
      text-align: left;
      width: 60%;
      margin-left: 7.5rem;
    }
  }
  section.mid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
  }
  section.lower {
    height: 680px;
    h1 {
      padding-top: 200px;
    }
    p {
      margin: 225px;
      margin-top: 0px;
      width: 50%;
    }
  }
}


/* -------------- Footer -------------- __ */
footer {
  width: 100%;
  .how-it-works {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .how-it-works-text {
    font-size: large;
  }
  article {
    width: 334px;
    height: 340px;
  }
  .numb {
    width: 334px;
  }
  .numb {
    width: 334px;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  div.scroll-to-top {
    width: 1002px;
    p {
      width: 1002px;
    }
  }
  .dark-box {
    width: 1002px;
  }
}