// $primaryColor: #424e64;
$lightblueColor: #C7DDEA;
$lightgreyColor: #E5E5E5;
$orangeColor: #F17949;
$yellowColor: #FAB131;
$greyColor: #A9A19E;


$primaryColor: #000;
// $secondaryColor: #bbc2ca;
// $fontColor: #35373a;
// 
// $defaultFont: 'Lato', sans-serif;
// $normalWeight: 300;
// $boldWeight: 700;
// 
// $gutter: 2%;
// $gutterdbl: (2 * $gutter);

$normalWeight: 500;
$semiboldWeight: 600;
$boldWeight: 700;






