/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ---------- Colors ---------- */
/* ---------- Spacing ---------- */
/* ---------- Fonts ---------- */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* __ */
/* -------------- Body -------------- __ */
body {
  margin: 0 auto;
  background-color: #EBEBEB;
  max-width: 375px;
  min-width: 375px;
}
body h1 {
  font-family: "Frank Ruhl Libre", serif, helvetica;
  font-weight: 900;
}
body p {
  font-family: "Fira sans", sans-serif, Arial;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}
body button {
  background-color: white;
  font-family: "Fira sans", sans-serif;
  font-size: 10px;
  font-weight: 700;
  padding: 14px 45px;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.144);
  margin: 45px 0px;
  cursor: pointer;
}

/* -------------- Header ------------- __ */
header {
  margin: 0 auto;
}
header article {
  display: grid;
}
header article .covered {
  background-color: #C7DDEA;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16.5px;
}
header article .covered h1 {
  font-size: 45px;
  padding: 70px 0px 25px;
}
header article .covered p {
  opacity: 70%;
  font-size: 14px;
  line-height: 24px;
}
header article .covered p span {
  opacity: 1;
  color: white;
}
header article .covered img {
  max-width: 100%;
}
header article nav {
  background-color: white;
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  grid-template-rows: "p p" "p p";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
}
header article nav p {
  font-weight: 600;
  font-size: 12px;
  color: #A9A19E;
  cursor: pointer;
}
header article nav p:active {
  color: black;
}
header article .learn-more {
  display: flex;
  flex-direction: column;
  background-color: #F17949;
  height: 315px;
  padding: 130px 0px;
}
header article .learn-more p {
  margin: auto;
  font-size: 11px;
  font-weight: 700;
  opacity: 65%;
}
header article .learn-more h1 {
  margin: auto;
  color: white;
  font-size: 32px;
}
header article .join-today {
  display: flex;
  flex-direction: column;
  background-color: #FAB131;
  height: 315px;
  padding: 130px 0px;
}
header article .join-today p {
  margin: auto;
  font-size: 11px;
  font-weight: 700;
  opacity: 65%;
}
header article .join-today h1 {
  margin: auto;
  color: #FFFFFF;
  font-size: 32px;
}

/* ----------- Navigation ----------- __ */
/* ------------- MAIN -------------- __ */
main h1 {
  color: white;
  font-size: 45px;
  padding: 40px 0px 25px;
}
main section.upper {
  background-color: #A9A19E;
  padding: 0 16.5px;
}
main section.lower {
  padding: 0 50px 90px;
  background-color: #FAB131;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* -------------- Footer -------------- __ */
footer {
  margin: 0 auto;
  font-family: "fira sans";
}
footer section {
  display: grid;
  grid-template-columns: 1fr;
}
footer article {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  width: 257px;
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .box-a {
  background-color: #C7DDEA;
  font-size: 35px;
  font-family: "Frank Ruhl Libre";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .box-b {
  background-color: #FFFFFF;
}
footer .box-c {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
}
footer .box-d {
  background-color: #F17949;
}
footer div.scroll-to-top {
  height: 68px;
  background-color: #A9A19E;
  width: 375px;
  text-align: center;
}
footer div.scroll-to-top p {
  height: -moz-fit-content;
  height: fit-content;
  width: 375px;
}
footer .numb {
  font-size: 35px;
  font-family: "Frank Ruhl Libre";
  color: #838383;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  width: 375px;
  height: 60px;
  position: absolute;
  align-self: flex-start;
}
footer .chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}
footer span {
  color: #000;
}
footer .dark-box {
  background-color: #777574;
  height: 218px;
}

/* ----- Clearfix: Force an Element not to collapse -- */
@media only screen and (min-width: 1002px) {
  /* ------------- Body -------------- __ */
  /* ------------- Header -------------- __ */
  /* ------------- MAIN -------------- __ */
  /* -------------- Footer -------------- __ */
  footer {
    width: 1002px;
  }
  footer .how-it-works {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer article {
    width: 334px;
    height: 340px;
  }
  footer .numb {
    width: 334px;
  }
  footer div.scroll-to-top {
    width: 1002px;
  }
  footer div.scroll-to-top p {
    width: 1002px;
  }
  footer .dark-box {
    width: 1002px;
  }
}/*# sourceMappingURL=styles.css.map */